.banner-container {
  margin-top: 40px;
}

.banner-text {
  margin-right: -48px;
}

.banner-text > h1 {
  font-weight: 550;
  margin-top: 80px;
}

.banner-img {
  height: fit-content;
}

.banner-paragraph {
  color: rgba(33, 37, 41, 0.6);
}

.banner-gradiant-text {
  display: block;
  background: #8a1e86;
  background: linear-gradient(to right, #8a1e86 0%, #fcb43a 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobile-app-links {
  display: flex;
  justify-content: flex-start;
  margin-top: 40px;
}
